body {
	overflow-x: hidden;
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar-brand-lg {
	font-size: 30px;
}

.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }

	.banner-content {
		padding-top: 440px;
/*		align-items:center;
		justify-content:center;*/
	}
}

.theme-background {
	background: url('../img/bg.png') no-repeat center center fixed;
	height: 960px;
	max-height: 960px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.banner-content {
	display: flex;
/*	width: 50%;*/
	padding-top: 400px;
/*	margin: auto;*/
	/*align-items:center;
	justify-content:center;*/
}

.container-fluid {
	margin-left: 0;
	margin-right: 0;
}

.text-pink {
	color: #f75e5e;
}

.bg-black {
	background-color: black;
}

.bg-lightgrey {
	background-color: #ece8e7;
}

.bg-basic {
	background-color: #d4bb56;
}

.bg-hotpink {
	background-color: #f96446;
}


.section-banner {
	height: 400px;
	max-height: 400px;
}

.footer-link {
	list-style-type: none;
	padding-left: 0;
}